<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js" integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf" crossorigin="anonymous"></script>  
<footer class="footBg p-2">
    <nav class="navbar" style="margin:0 2%">
        <div class="container-fluid ">
          <p class="footerText" style="width:60%">If you have any suggestions or requests to make this website better or more useful, please send an email to: letsplay@gmail.com</p>
          <br>        
          <a href="/feed" class="navbar-brand text-center" style="width:20%"><img src="https://res.cloudinary.com/dng1obd8k/image/upload/v1678183855/lets-play-logo-new-color_zjxabc.png" class="navimg d-inline-block" alt="letsplay"></a>
        </div>
      </nav> 
</footer> 
</main>    
</body>
</html>