    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js" integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf" crossorigin="anonymous"></script>  
<footer class="footBg p-2 bg-gradient">
    <nav class="navbar" style="margin:0 2%">
        <div class="container-fluid ">
          <p style="width:30%">Let's Play helps you connect with like-minded individuals and organize impromptu sports games without the commitment of an official club or competition. Sports are for everyone!</p>
          <br>
          <h4 style="width: 30%;">Connect, play, have fun!</h4>         
          <a href="/feed" class="navbar-brand text-center" style="width:30%"><img src="https://res.cloudinary.com/dng1obd8k/image/upload/v1670240318/lets-play-logo-removebg_ypgiff.png" class="navimg d-inline-block" alt="letsplay"></a>
        </div>
      </nav> 
   
    <!-- <div class="container-fluid navbar">
        <span class="text-white fs-7">Let's play is a social network designed to help people meet up and play sports more spontaneously than needing to join an official club or competition.</span>
        <a href="/feed" class="navbar-brand text-center"><img src="https://res.cloudinary.com/dng1obd8k/image/upload/v1670240318/lets-play-logo-removebg_ypgiff.png" class="navimg d-inline-block align-text-top" alt="letsplay"></a>
    </div> -->
</footer>     
</body>
</html>