<%- include('partials/loginheader') -%>

<div class="content-wrap container">
    <div class="row justify-content-center mt-5">
        <a href="/login" class="col-3 btn btn-primary mx-3"> Login</a>
        <a href="/signup" class="col-3 btn btn-primary mx-3"> Signup</a>
    </div>
    <div class="card signupBlurb">
        <div class="card-body">
          <p class="card-text">With Let's Play, finding and organizing local sports games is easy. No big commitment needed - just fun, friends, and fitness.</p>
        </div>
      </div>
</div>

<%- include('partials/loginfooter') -%>