body{
    color: white;
    background-color: #093151;
}
a{
    text-decoration: none;
}
img {
    width: 150px;
}
.navimg{
    width: 110px;
}

#event-img {
    width: 80px;
    border-radius: 50%;
    float:right;
}
#event-img-post {
    width: 125px;
    border-radius: 50%;
    float:right;
}
#myImage{
    width:140px;
    border-radius: 50%;
    margin-left: 180px;
}
#profilePic{
    width:80px;
    border-radius: 50%;
}
#profilePic:hover{
    transition: transform 0.4s;
    transform: scale(0.95);   
}
#profilePicComment{
    width:50px;
    border-radius:50%;
}
#createEventButton{
    border: solid white 3px;
    color: white;
    border-radius: 5px;
    padding: 10px;
    background-color: #FF9F1C;
    width: auto;
    position:absolute;
    top: 270px;
    right:6%;
}
#createEventButton:hover{
    background-color: whitesmoke;
    color: #BE6E46;
}
.createProfileBtn{
    margin-bottom:15%;
}
#feedposts{
    border-bottom: #FF9F1C 5px solid;
    border-radius: 10px;
    padding: 10px;
    background-color: white;
}
#feedposts:hover{
    border-bottom: #FF9F1C 2px solid;
}
.feedpostText{
    color:#093151
}
.distanceText{
    display: flex;
    justify-content: center;
    font-size: small;
}
#profilePosts{
   
    border-radius: 10px;
    padding: 10px;
    background-color: black;
    width:48%;
    margin: 0 1%;
}
#profilePosts:hover{
    opacity: 0.7;
}
.headBg {
    background-color: #011627;
    height:10%;
    border-bottom: #FF9F1C solid 1px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
  }
.footBg {
    background-color: #011627;
    margin-top: 10%;
}
.navbar{
    margin:0 10%
}

.btn{
    background-color: #FF9F1C;
    border: solid white 2px;
    width: auto;
}
.btn:hover{
    background-color: white;
    color: #BE6E46;
    border: solid #BE6E46 2px;
}
.filterBtn{
    background-color: whitesmoke;
    padding:2px 6px;
    font-size: smaller;
    color: #093151;
    margin-top: 4px;
}
.filterBtn:hover{
    border: orange solid 2px;
    color: #011627;
}
.selectDropdown{
    background-color: whitesmoke;
    color: #093151;
    border-radius: 4px;
    border: #093151 solid 2px;
}
.selectDropdown:hover{
    border: orange solid 2px;
    color: #011627;
}
.btn-outline-danger{
    background-color: white;
    border:none;
}
.btn-outline-danger:hover{
    font-weight: bold;
    color: red;
    border: solid 1px red;
}
.profile{
    background-color: #011627;
    padding: 1% 5% 5% 5%;
    border-radius: 30px;
    margin-top: 10%;
    border-bottom:#FF9F1C 5px solid;
}
.post{
    background-color: #011627;
    border-bottom: #FF9F1C 5px solid;
    padding-bottom:20px;
    border-radius: 30px;
    margin-top: 6%;
    width: 75%;
    font-size: large;
}
.postTitle{
    color: #011627;
    font-weight: bold;
    display: flex;
    justify-content: center;
}
.comment{
    width:75% !important;
    ;
}
.singleComment{
    margin-left: 18%;
    background: white;
    border-bottom: solid #FF9F1C 2px;
    border-radius: 10px;
    padding: 5px;
    color:#011627;
}
.gameOn{
    background-color: #FF9F1C;
    border: solid orange 2px;
    border-radius: 50%;
    color: white;
    text-decoration: none;
    width:55px;
    height:55px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 800;
    font-size: smaller;
    float: right;
    margin-left: 10px;
}
.userJoined{
    background-color: #FF9F1C;
    border: solid orange 2px;
    border-radius: 50%;
    color: white;
    text-decoration: none;
    width:55px;
    height:55px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 800;
    font-size: smaller;
    float: right;
}
.commentNotification{
    background-color: red;
    border-radius: 50%;
    color: white;
    text-decoration: none;
    width:30px;
    height:30px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 800;
    font-size: smaller;
    float: right;
}
.signupBlurb{
    background-color: #093151;
    opacity: 0.9;
    margin: 5%;
    padding:15px;
    border-radius: 10px;
    width: 30%;
    
}


/* Media queries */
@media screen and (max-width: 850px){
    #createEventButton{
        padding: 5px;
        top: 280px;
    }
    .logoutBtn{
        padding: 5px;
    }
    .navimg{
        width: 70px;
    }
    #profilePic{
        width:50px;
        border-radius: 50%;
    }
}
@media screen and (max-width: 405px) {
    
    .headerLogo{
        display:none;
    }
}