html{
    margin:0;
    padding:0;
}
body{
    color: white;
    background: linear-gradient(to top, #093151 90%, #011627);
}
.mainContainer{
    min-height: 98vh;
    position: relative;
    padding:0;
    margin: 0;
}
.content-wrap{
    padding-bottom: 6rem;
}
.headBg {
    background-color: #011627;
    height:10%;
    border-bottom: #FF9F1C solid 1px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
  }
.footBg {
    background-color: #011627;
    position:absolute;
    bottom: 0;
    width:100%;
    height: 6rem;
}
a{
    text-decoration: none;
}
img {
    width: 150px;
}
.navimg{
    width: 70px;
}
.navimgHead{
    width:100px;
}

#event-img {
    width: 80px;
    border-radius: 50%;
    float:right;
}
#event-img-post {
    width: 125px;
    border-radius: 50%;
    float:right;
    margin-left:20px;
    margin-bottom: 20px;
}
#myImage{
    width:140px;
    border-radius: 50%;
    margin: 20px 0px; 
}
.profilePic{
    width:80px;
    border-radius: 50%;
}
.profilePic:hover{
    transition: transform 0.4s;
    transform: scale(0.95);   
}
#profilePicComment{
    width:50px;
    border-radius:50%;
}
#createEventButton{
    border: solid white 3px;
    color: white;
    border-radius: 5px;
    padding: 10px;
    background-color: #FF9F1C;
    width: auto;
    position:absolute;
    top: 270px;
    right:6%;
}
#createEventButton:hover{
    background-color: whitesmoke;
    color: #BE6E46;
}
.createProfileBtn{
    margin-bottom:15%;
}
#feedposts{
    border-bottom: #FF9F1C 5px solid;
    border-radius: 10px;
    padding: 10px;
    background-color: white;
}
#feedposts:hover{
    border-bottom: #FF9F1C 2px solid;
}
.feedpostText{
    color:#093151
}
.distanceText{
    display: flex;
    justify-content: center;
    font-size: small;
}
#profilePosts{
   
    border-radius: 10px;
    padding: 10px;
    background-color: black;
    width:48%;
    margin: 0 1%;
}
#profilePosts:hover{
    opacity: 0.7;
}
.headBg {
    background-color: #011627;
    height:10%;
    border-bottom: #FF9F1C solid 1px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
  }
.footBg {
    background-color: #011627;
    position:absolute;
    bottom: 0;
    width:100%;
    height: 6rem;
}
.navbar{
    margin: 0 10%
}

.btn{
    background-color: #FF9F1C;
    border: solid white 2px;
    width: auto;
}
.btn:hover{
    background-color: white;
    color: #BE6E46;
    border: solid #BE6E46 2px;
}
.filterBtn{
    background-color: whitesmoke;
    padding:2px 6px;
    font-size: smaller;
    color: #093151;
    margin-top: 4px;
}
.filterBtn:hover{
    border: orange solid 2px;
    color: #011627;
}
.selectDropdown{
    background-color: whitesmoke;
    color: #093151;
    border-radius: 4px;
    border: #093151 solid 2px;
}
.selectDropdown:hover{
    border: orange solid 2px;
    color: #011627;
}
.btn-outline-danger{
    background-color: white;
    border:none;
}
.btn-outline-danger:hover{
    font-weight: bold;
    color: red;
    border: solid 1px red;
}
.profile{
    background-color: #011627;
    padding: 1% 5% 5% 5%;
    border-radius: 30px;
    margin-top: 10%;
    border-bottom:#FF9F1C 5px solid;
}
.post{
    background-color: #011627;
    border-bottom: #FF9F1C 5px solid;
    padding-bottom:20px;
    border-radius: 30px;
    margin-top: 6%;
    width: 75%;
    font-size: large;
}
.footerText{
    font-size: 0.6rem;
}
.postTitle{
    color: #011627;
    font-weight: bold;
    display: flex;
    justify-content: center;
}
.comment{
    width:75% !important;
    ;
}
.singleComment{
    margin-left: 18%;
    margin-top: -9%;
    background: white;
    border-bottom: solid #FF9F1C 2px;
    border-radius: 10px;
    border-top-left-radius: 0;
    padding: 5px;
    color:#011627;
}
.gameOn{
    background-color: #FF9F1C;
    border: solid orange 2px;
    border-radius: 50%;
    color: white;
    text-decoration: none;
    width:55px;
    height:55px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 800;
    font-size: smaller;
    float: right;
    margin-left: 10px;
}
.gameOnPost{
    margin-right:-15%;
}
.userJoined{
    background-color: #FF9F1C;
    border: solid orange 2px;
    border-radius: 50%;
    color: white;
    text-decoration: none;
    width:55px;
    height:55px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 800;
    font-size: smaller;
    float: right;
}
.commentNotification{
    background-color: red;
    border-radius: 50%;
    color: white;
    text-decoration: none;
    width:30px;
    height:30px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 800;
    font-size: smaller;
    float: right;
}
.signupBlurb{
    background-color: #011627;
    
    margin: 5%;
    padding:10px;
    border-radius: 10px;
    width: 40%;
    
}
/* .loginBody{
    background-image: url(https://res.cloudinary.com/dng1obd8k/image/upload/v1671183672/maninder-sidhu-AcaJrTMb8Pc-unsplash_aluorx.jpg); background-size: cover;
} */


/* Media queries */
@media screen and (max-width: 1100px){
    .singleComment{
        margin-left:22%;
        margin-top:-10%;
    }
}
@media screen and (max-width: 950px){
    .singleComment{
        margin-left:24%;
        margin-top:-12%;
    }
    .signupBlurb{
        width: 50%;
    }
}
@media screen and (max-width: 850px){
    .singleComment{
        margin-left:27%;
        margin-top:-13%;
    }
    #createEventButton{
        padding: 5px;
        top: 280px;
    }
    .logoutBtn{
        padding: 5px;
    }
    .navimg{
        width: 70px;
    }
    #profilePic{
        width:50px;
        border-radius: 50%;
    }
}
@media screen and (max-width: 670px){
    .singleComment{
        margin-left:31%;
    }
    #event-img-post{
        width: 80px;
    }
    #myImage{
        width: 100px;
    }
    .signupBlurb{
        font-size: smaller;
    }
}
@media screen and (min-width: 571px) {
    .addGame{
        border-right:#FF9F1C solid 2px;
        padding-right:40px;
    }
    .profileSide{
        padding-left:40px;
    }
}
@media screen and (max-width: 570px){
    .singleComment{
        margin-left:5%;
        margin-top: 0;
        width: 100%;
    }
    .profileColumns{
        width:95%;
    }
    .profileInfo{
        margin-top: 10%;
        padding: 7%;
        border-top:#FF9F1C solid 2px;
        border-bottom: #FF9F1C solid 2px;
    }
    .post{
        width: 100%;
    }
    .signupBlurb{
        width:80%;
        margin:auto;
        margin-top: 35%;
    }
    .signupContainer{
        width:70%;
    }
}
@media screen and (max-width: 450px){
    .singleComment{
        font-size: smaller;
    }
    #event-img-post{
        margin-right:-18%;
    }
    #profilePicComment{
        display: none;
    }
    .signupContainer{
        width:80%;
    } 
    .signupBlurb{
        margin-top: 20%;
    }
    .headerLogo{
        display:none;
    }
    .picHeaderProfilePage{
        display:none;
    }
    .profHeaderLogo{
        position: relative;
        right: 40px;
    }
}
@media screen and (max-width: 405px) {
    
   
}