@tailwind base;
@tailwind components;
@tailwind utilities;
img {
    width: 150px;
}

#event-img {
    width: 100px;
}
#myImage{
    width:250px;
    border-radius: 10px;
    margin-left: 100px;
}
#profilePic{
    width:80px;
    border-radius: 50%;
}
#feedposts{
    border: solid orange 1px;
    border-radius: 10px;
    padding: 10px;
}